.rCorners {
    border-radius: 10px;
}

.manual-card-title {
    font-size: 30px;
    text-align: center;
}

.btn-group-custom {
    display: inline;
}

.btn-view-custom {
    float: right;
    display: inline;
}

.no-decor {
    text-decoration: none;
}

.card-body {
    background-color: #F8F9FA;
    border: none;
}

.card {
    border: none;
}

@media (max-width: 519px) {
    .manual-card-title {
        font-size: 1.5rem;
    }
}

@media (max-width: 437px) {
    .manual-card-title {
        font-size: 1.2rem;
    }
}

@media (max-width: 370px) {
    .manual-card-title {
        font-size: 1rem;
    }
}